apiVersion: v1
kind: Service
metadata:
    name: flaskapplatest
spec:
  selector:
    app: flaskapplatest
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer